
$common-white: rgb(255,255,255);
$common-grey: rgb(240,240,240);

$site-background: rgb(243,243,244);

$light-grey: rgb(153,153,153);
$middle-grey: rgb(200,200,200);
$vlight-grey: rgb(230,230,230);

$text-main: rgb(103,106,108);

$punchy-green: rgb(26,179,148);
$punchy-orange: rgb(248,172,89);
$punchy-blue: rgb(35,198,200);

$margin-small: 1rem;
$margin-normal: 2rem;
$margin-big: 3rem;

$margin-small-neg: -1rem;
$margin-normal-neg: -2rem;
$margin-big-neg: -3rem;

$text-normal: 300;
$text-medium: 400;
$text-bold: 600;

$speed-fast: 200ms;
$speed-normal: 500ms;
$speed-slow: 800ms;

$font-small: 11px;
$font-normal: 16px;
$font-big: 20px;
